<script lang="ts" setup>
import { useMessageStore } from "@/stores/message";
const messageStore = useMessageStore();
</script>
<template>
  <div class="text-center">
    <v-snackbar
      v-model="messageStore.isShow"
      :timeout="messageStore.timeout"
      multi-line
    >
      {{ messageStore.message }}

      <template v-slot:actions>
        <v-btn color="red" variant="text" @click="messageStore.closeMessage">
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>
